@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for calendar days */
.h-24::-webkit-scrollbar {
  width: 4px;
}

.h-24::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.h-24::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}